#info{
	text-align: center;
	font-weight: bold;
	font-size: 1.1rem;
	color: rgba(255, 255, 255, 0.798);
	background-image: linear-gradient(0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)),
		url(/IMG/form.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
}

#info a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.798);
}

#info a:hover {
	color: rgb(248, 187, 84);
}
#info h2{
	color: rgba(255, 255, 255, 0.798);
	font-weight: bold;
}
form{
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	border-bottom: 2px solid  rgba(242, 116, 244, 0.745);
}
fieldset {
	border: 2px solid  rgba(242, 116, 244, 0.745);
	border-bottom: 0;
	box-shadow: 0px 0px 0px 0px  rgba(242, 116, 244, 0.745);
	padding-top: 10px;
	text-align: justify;
	display:inline-flexbox;
	flex-direction: column;
	text-align: center;
	width: 30rem;
	
}

fieldset legend {
	color:  rgb(33, 183, 217);
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
}

	input[type="text"] {
		width: 95%;
		padding: 12px 20px;
		margin: 0px 10px;
		align-items: justify;
		text-align: justify;
	}
	
	input[type="checkbox"] {
		width: 0.9rem;
		height: 0.9rem;
		box-shadow: 0px 0px 15px 1px rgb(242, 116, 244);
	}


	
	