#discografia{
	background-image: linear-gradient(0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)),
		url(/IMG/discografia.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#discografia h2 {
	color: rgb(248, 187, 84);
	text-shadow: 0.2rem 0.2rem 0.5rem rgba(250, 149, 124, 0.9);
	font-weight: bold;
	font-size: 4rem;
	text-align: center;
}
#discografia h3 {
	position: absolute;
	margin:auto;
	top:auto;
	left:0;
	right:0;
	bottom: auto;
	color:  rgba(255, 255, 255, 0.798);
	text-shadow: 0.2rem 0.2rem 0.5rem rgba(43, 23, 2, 0.9);
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
}

#discografia a{
	color:  rgba(255, 255, 255, 0.798);
	text-shadow: 0.2rem 0.2rem 0.5rem rgba(43, 23, 2, 0.9);
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
}

#discografia a:hover{
	color: rgb(248, 187, 84);
}



.container-imgd{
	width: 100%;
	max-width: 1024px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 60px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	row-gap: 1rem;
	column-gap: 1rem;
	}

	
	.container-imgd .box-img figure{
	position: relative;
	width: 100%;
	height: 100%;
	}
	
	.container-imgd .box-img img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	iframe{
	position: absolute;
	height: auto;
	display: none;
	}
	
	.container-imgd .box-img:nth-child(3){
		grid-row-start: span 3;
	}

	.container-imgd .box-img:hover .frdisp{
		display: block;
	}
	
	/* Arriba: Resoluciones > 800px  */
/* Responsive: Tablets (800px - 510px) */
	@media screen and (max-width:800px){
		.container-imgd{
			width: 95%;
			grid-template-columns: repeat(2,1fr);
			grid-template-rows:24.5rem;
		}

		.container-imgd .box-img:nth-child(3){
			grid-row-start: 1;
			grid-column-start: span 2;
	}
}
/* Arriba: Resoluciones > 800px  */
/* Responsive: Mobile (510px down) */
	@media screen and (max-width:510px){

		
		.container-imgd{
			width: 90%;
			grid-template-columns: repeat(1,1fr);
		}

		.container-imgd .box-img:nth-child(3){
			grid-column-start: 1;
	}
	}
	
